.container {
  padding: 20px;
  margin: 60px 20px;
}

.TOH-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // 原来设了个8964, 但导航上增加"查找英雄"后有个自动完成面板, 
  // angular默认设该自动完成面板z-index: 1000. 故改为89
  z-index: 89;
}

.icon {
  padding: 0 5px;
}

.spacer {
  flex: 1 1 auto;
}
