<mat-toolbar class="mat-elevation-z6 TOH-nav" color="primary">
  <mat-icon class="icon">person</mat-icon><span> {{title}}</span>
  <a mat-button routerLink="/hero-list">
    <mat-icon class="icon">list</mat-icon>所有英雄
  </a>
  <a mat-button routerLink="/hero-top">
    <mat-icon class="icon">thumb_up</mat-icon>顶级英雄
  </a>
  <a mat-button routerLink="/hero-add">
    <mat-icon class="icon">person_add</mat-icon>添加英雄
  </a>
  <a mat-button>
    <mat-icon class="icon">search</mat-icon>查找英雄
    <app-hero-search></app-hero-search>
  </a>
  
  <span class="spacer"></span>
  <a mat-button href="https://github.com/wang1/toh-all-in-one">
    <mat-icon class="icon">star</mat-icon>GitHub
  </a>
</mat-toolbar>
<!-- 
  定义了一个可以检测视图何时发生变化的方法，该方法会基于路由配置的 data 属性值，
  将动画状态值赋值给动画触发器（@routeAnimation）
  prepareRoute() 方法会获取这个 outlet 指令的值（通过 #outlet="outlet"），
  并根据当前活动路由的自定义数据返回一个表示动画状态的字符串值。
  你可以使用这个数据来控制各个路由之间该执行哪个转场。
-->
<div class="container" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
