<mat-toolbar class="mat-elevation-z6 TOH-nav" color="primary">
  <mat-icon class="icon">person</mat-icon><span> {{title}}</span>
  <a mat-button routerLink="/hero-list">
    <mat-icon class="icon">list</mat-icon>所有英雄
  </a>
  <a mat-button routerLink="/hero-top">
    <mat-icon class="icon">thumb_up</mat-icon>顶级英雄
  </a>
  <a mat-button routerLink="/hero-add">
    <mat-icon class="icon">person_add</mat-icon>添加英雄
  </a>
  <span class="spacer"></span>
  <a mat-button href="https://github.com">
    <mat-icon class="icon">star</mat-icon>GitHub
  </a>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
