<div class="container mat-elevation-z4">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <h2>
    <div style="text-align: center;">编辑英雄</div>
  </h2>

  <mat-card class="card">
    <form [formGroup]="heroForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="编号" formControlName="no" required>
        <mat-error>
          <span *ngIf="!heroForm.get('no').valid && heroForm.get('no').touched">
            请输入编号
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="英雄姓名(>4)" formControlName="name" required>
        <mat-error>
          <span *ngIf="!heroForm.get('name').valid && heroForm.get('name').touched">
            英雄请留名
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" matInput placeholder="薪水" formControlName="salary">
        <mat-error>
          <span *ngIf="!heroForm.get('salary').valid && heroForm.get('salary').touched">合适点的薪水</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="简介" formControlName="description"></textarea>
      </mat-form-field>
      <!-- 不能使用form-field包含checkbox!! -->
      <div class="full-width">
        <mat-checkbox formControlName="isTop" color="primary">顶级英雄?</mat-checkbox>
      </div>
      <div style="text-align: center;">
        <span class="flat-button">
          <button type="submit" [disabled]="!heroForm.valid" 
                  mat-raised-button color="primary" matTooltip="保存英雄">
            <mat-icon>save</mat-icon>保 存
          </button>
        </span>
        <span class="flat-button">
          <a mat-raised-button color="warn" matTooltip="放弃" (click)="goBack()">
            <mat-icon>transit_enterexit</mat-icon>放 弃
          </a>
        </span>
      </div>
    </form>
  </mat-card>
</div>
